{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col col-md-4 col-sm-12 col-lg-4 offset-lg-4 offset-md-4 offset-sm-0 mt-10">
            <div class="card">
                <form method="post" class="mr-1 ml-1 mb-2 pb-2">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
                            </div>
                        {% endif %}
                    <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
                    <label for="inputUsername">Логин:</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                    <label for="inputPassword">Пароль:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                    <div class="row">
                        <div class="col-4 offset-lg-4 offset-md-4 offset-sm-0">
                            <button class="btn btn-lg btn-primary mt-2 mb-2" type="submit">
                                Войти
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
